<% layout("/layouts/boilerplate") %>
<script>
  const listing=<%- JSON.stringify(listing) %>;  
</script>
<div class="row row-show">
    <div class="card col-6 offset-3 listing-card">
        <div class="card-body">
          <p class="card-text">Type: <%= listing.Type %></p>
          <p class="card-text">Amount: <%= listing.price.toLocaleString("en-IN") %></p>
          <p class="card-text">Description: <%= listing.description %></p>
        </div>
      </div>
    <div class="btns">
    <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark btn-edit col-1 offset-5 ">Edit</a>
    <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
        <button class="btn btn-dark btn-delete col-30 offset-9">Delete</button>
    </form>
    </div>
</div>
    
